 *{
  margin : 0px;
  padding : 0px;
  font-family: Century Gothic;

}

body {
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("./abc.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul{
  float:right;
  list-style-type:none;

}
ul li{ 
  display: inline-block; 
  padding-top :5%;
}

ul li a{
    
    text-decoration: none;
    color:#fff;
    padding:5px 20px;
    border:1px solid #000;
    transition:0.6s ease;
}

 ul li a:hover {
      background-color: #fff;
      color: #000;
    }

ul li.active a{
     background-color:#fff;
     color:#000;
 
}



.logo img {
    position: absolute;
    top: 3%;
    left: 3%;
    width: 90px;
    float:left;
}

/*.main{
    max-width:1200px;
    margin: auto;
} */
 .title{
    position: absolute  ;
    top: 40%;
    left:18%;
    

      
}

    .title h1 {
        color: #fff;
        font-size: 70px;
        text-align: center;
        top: 30%;
        left: 18%;
    }
 
.button{
     position:absolute  ;
     top:55%;
     left:33%;
   
}
.btn{
     border: 1px solid #fff;
     padding:10px 30px;
     color:#fff;
     text-decoration:none;
      transition:0.6s ease;
       text-align :center ; 
}
 .btn:hover{
     background-color:#fff;
     color:#000;
    }
 footer {
    
     clear:both;
     background-color :#808080;
     color:#000;
     bottom:0;
     position:absolute;
     width:100%;
 }
@media screen and (max-width:1022px) {
    .title, .title h1 {
        font-size: 44px;
    }

    .button, .btn {
        margin: 20px;
        display: block;
    }

    ul li {
        display: block;
        margin: 5px;
    }

   
}
@media screen and (max-width:512px) {
    .button, .btn {
        margin: 2px;
        display: block;
    }
}
    input [type =text], select, textarea {
        width: 100%;
        padding: 5px;
        border: 2px solid #ccc;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input [type=submit] {
        background-color: greenyellow;
        color: antiquewhite;
        padding: 12px 20px;
        cursor: pointer;
        border: 2px solid #000;
        margin: 2px;
    }

    .losar-img {
        height: 250px;
        width: 300px;
        border: 1px solid black;
        margin: 15px;
    }

        .losar-img:hover {
            border: 1px solid red;
        }

    #sidenav {
        width: 250px;
        height: 100vh;
        position: fixed;
        right: -250px;
        background: #009688;
        z-index: 2;
        transition: 0.5s;
    }

    nav ul li {
        list-style: none;
        margin: 50px 20px;
    }

        nav ul li a {
            text-decoration: none;
            color: #fff;
        }

    #menubtn {
        width: 50px;
        height: 50px;
        background: #009688;
        text-align: center;
        position: fixed;
        right: 30px;
        top: 20px;
        border-radius: 3px;
        z-index: 3;
        cursor: pointer;
    }

    .about {
        background-color: azure;
        font-size: 28px;
        color: black;
        text-align: center;
        position: absolute;
        top: 20%;
        left: 1%;
    }

    .paragraph {
        background-color: azure;
        font-size: 16px;
        position: absolute;
        color: black;
        top: 35%;
        left: 1%;
        right: 1%;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:nth-child(odd) {
        background-color: #808080;
    }

    th {
        background-color: green;
        color: white;
    }

    .form {
        color: white;
        font-size: 18px;
    }
